
{% extends 'base.html' %}

{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">


<div class="signupSection">
  <div class="info">
    <i class="icon ion-ios-ionic-outline" aria-hidden="true"></i>
  </div>
  <form method="POST" class="signupForm" name="signupform">
      {% csrf_token %}
    <h2>Update User Details</h2>
    <ul class="noBullet">
      <li>

        <label for="username"></label>
        {{ form.student_name }}<br>
      </li>
      <li>
        <label for="password"></label>
        {{ form.father_name }}<br>
      </li>
      <li>
        <label for="email"></label>
        {{ form.enrollment_no }}<br>
      </li>

      <li id="center-btn">
        <input type="submit" id="join-btn" name="join" alt="Join" value="Submit">
      </li>
    </ul>
  </form>
</div>



{% endblock content %}


{% block more_links %}
    <a href="{% url 'edit' %}">
            Update Details
        </a>
<a href="{% url 'logout' %}">Logout</a>

{% endblock more_links %}